.App {
  text-align: center;
}

.brandLink {
  text-decoration: none;
  color: #3fae2a;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 60px;
}

/* Text Styles */
.brandTxt {
  color: #3fae2a;
  font-weight: 400;
  font-size: 14px;
}

.brandBtnTxt {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.errorTxt {
  color: red;
}

/* Button Styles */
.brandBtn {
  background-color: #3fae2a !important;
  height: 40px;
  color: #ffffff;
  width: 100%;
  border: none;
}

.brandBtnReverse {
  background-color: #f8f8f8;
  height: 40px;
  color: #3fae2a;
  width: 100%;
  border: none;
}

.brandBtnDark {
  background-color: #222;
  height: 40px;
  color: #3fae2a;
  width: 100%;
  border: none;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: left;
}

.subHeader {
  flex-direction: row;
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.subHeader div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.App-header-container {
  display: flex;
}

.App-title {
  font-size: 1.5em;
  color: #FFF;
  font-weight: 200;
}

.App-title-alt {
  text-align: left;
  font-size: 1.5em;
  color: #777;
  font-weight: 200;
  margin-left: 20px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.product-title {
  font-weight: 200;
  margin: 10px;
}

.App-intro {
  font-size: large;
}

.flex-grid {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.box-wrapper {
  width: 200px;
  box-shadow: 2px 4px 8px #999;
  margin: 25px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.box {
  background-color: #FFF;
  width: 200px;
  padding-top: 20px;
  /* border-bottom: 1px solid #e7e7e7; */
}

/* Modals */
.modal-header {
  background-color: #f8f8f8;
  color: #3fae2a;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
